---
import {
  cardContentVariants,
  cardHeaderVariants,
  cardTitleVariants,
  cardVariants,
  cn,
} from "example-shared/ui";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div data-slot="card" class={cn(cardVariants())}>
  <div data-slot="card-header" class={cn(cardHeaderVariants())}>
    <div data-slot="card-title" class={cn(cardTitleVariants())}>
      {title}
    </div>
  </div>
  <div data-slot="card-content" class={cn(cardContentVariants(), "space-y-6")}>
    <slot />
  </div>
</div>
